<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="All Test">
        <classes>
            <class name="com.chinapopin.platform.user.controller.IAccountInfoControllerTest"/>
            <class name="com.chinapopin.platform.user.controller.IUserInfoControllerTest"/>
        </classes>
    </test>
</suite>